*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: roboto;
}
.header
{
    background:url(header-image.jpg);
    background-size: cover;
    background-color: 	#60707F; // Tint color
    background-blend-mode: multiply;    
    height: 100vh;
    padding: 2.8rem 19rem 0 19rem;
    &-navbar
    {
        &-structure 
        {         
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
            &-list
            {
                position: relative;
                overflow: visible;
                height: 40rem;
                &:first-child
                {
                    float: left;
                    display: block;
                    color: white;
                    font-size: 2.8rem;
                    font-weight: 900;
                    text-align: center;
                    padding: 1.4rem 1.4rem;
                    margin-right: 3rem;
                    margin-top:-0.5rem;
                    cursor: default;
                }
                &:not(first-child)
                {
                    float:right; 
                    display: block;
                    color: white;
                    font-size: 1.6rem;
                    text-align: center;
                    padding: 1.4rem 1.4rem;
                    margin-right: 3rem;
                    margin-top:0.5rem;
                    cursor: default;
                    i  
                    {
                        margin-left:0.8rem;
                        font-size: 1.4rem;
                        margin-bottom:1rem;
                        font-weight: 200;
                    }
                }       
                &-dropdown-triangle-1
                {
                    position: absolute;
                    display: block;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: #FDFDFD;
                    border-radius: 0.7rem;
                    transform: rotateZ(45deg);
                    top:4.5rem;
                    left:6rem;
                    
                }
                &-dropdown-1
                {
                    background-color: #FDFDFD;
                    width:21rem;
                    left:-3rem;
                    top:5.5rem;
                    border-radius:0.7rem;
                    position: absolute;
                    
                    &-a
                    {
                        display: block;
                        color: #3A4E61;
                        text-align: left;
                        font-size: 1.8rem;
                        font-weight: 500;
                        margin:0;
                        padding: 1.5rem 2rem 1.5rem 2rem;
                        text-decoration: none;
                        border-bottom:solid 1px #F0F0F0;
                        cursor: default;
                        &:last-child
                        {
                            border: none;
                            padding-bottom: 2rem;
                        }
                        &:first-child
                        {
                            padding-top: 2.3rem;
                        }
                    }
                    

                }
                &-dropdown-triangle-2
                {
                    position: absolute;
                    display: block;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: #FDFDFD;
                    border-radius: 0.7rem;
                    transform: rotateZ(45deg);
                    top:4.5rem;
                    left:6rem;
                    
                }
                &-dropdown-2
                {
                    background-color: #FDFDFD;
                    border-radius:0.7rem;
                    left:-3rem;
                    top:5.5rem;
                    width:21rem;
                    position: absolute;
                    &-a
                    {
                        display: block;
                        color: #3A4E61;
                        text-align: left;
                        font-size: 1.8rem;
                        font-weight: 500;
                        margin:0;
                        padding: 1.5rem 2rem 1.5rem 2rem;
                        text-decoration: none;
                        border-bottom:solid 1px #F0F0F0;
                        cursor: default;
                        &:last-child
                        {
                            border: none;
                            padding-bottom: 2rem;
                        }
                        &:first-child
                        {
                            padding-top: 2.3rem;
                        }
                    }
                    

                }
                &-a
                {
                    display: block;
                    color: white;
                    background-color: #245FC2;
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 1.5rem 3rem;
                    font-weight: 500;
                    text-decoration: none;
                    margin-top:-1.7rem;
                    margin-right:-3rem;
                    cursor: default;
                } 
            }
        }
    }

    &-textbox
    {
        margin-top: -24rem;
        &-heading
        {
            color: white;
            &-secondary
            {
                font-size: 3rem;
                font-weight: 500;
                margin-bottom: 3.5rem;
                display: inline-block;
            }
            &-primary
            {
                font-size: 5.5rem;
                font-weight: 600;
            }
        }
    }

    &-btn
    {
        margin-top: 6rem;
        &-structure
        {
            display: block;
            color: white;
            width: 30rem;
            background-color: #F7735E;
            padding: 2rem 3rem;
            font-size: 2.5rem;
            text-align: left;
            font-weight: bold;
            text-decoration: none;
            &-rightarrow
            {
                margin-left: 10rem;
            }
        }
    }
}

.main
{
    &-stories
    {
        padding:0 19rem;
        position: relative;
        &-btn
        {
            z-index: 20;
            position: absolute;
            top:4rem;
            width:22rem;
            right:15rem;
            &-structure
            {
                display: block;
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                padding: 1rem 0.2rem 1rem 1rem;
                font-size: 2rem;
                text-align: left;
                font-weight: 400;
                text-decoration: none;
                &-text
                {
                    font-weight: 700;
                }
                &-rightarrow
                {
                    margin-left: 1rem;
                    color: blue;
                    font-weight: bold;
                }
            }
        }
        &-row
        {
            width: 100%;
            margin-top:-9rem;
            &-col-1-of-3
            {
                display: inline-block;
                width:31.2%;
                height: 40rem;
                margin-right:2.8%;
                z-index: 10;
                &:last-child
                {
                    margin-right:0;
                }
                &-left
                {
                    background:url(flower.jpeg);
                    background-size: cover;
                    height:100%;
                    padding:18rem 3rem 2rem 3rem;                   
                    background-color: rgba(41, 40, 43, 0.76); // Tint color
                    background-blend-mode: multiply;
                    &-h2
                    {
                        color: #90C8E9;
                        margin-bottom: 2rem;
                        font-size: 2.5rem;
                        font-weight: 400;

                        i
                        {
                            margin-right: 1.5rem;
                            font-size:3rem;
                        }
                    }

                    &-h1
                    {
                        color: rgb(255, 255, 255);
                        margin-bottom: 2rem;
                        font-size: 2.7rem;

                    }
                    &-p
                    {
                        color: white;
                        font-size: 1.5rem;
                        &-date
                        {
                            font-style: italic;
                            font-weight: 600;
                        }
                    }       
                }
                &-middle
                {
                    background:url(flower.jpeg);
                    background-size: cover;
                    height:100%;
                    padding:18rem 3rem 2rem 3rem; 
                    background-color: rgba(41, 40, 43, 0.76); // Tint color
                    background-blend-mode: multiply;
                    &-h2
                    {
                        color: #90C8E9;
                        margin-bottom: 2rem;
                        font-size: 2.5rem;
                        font-weight: 400;

                        i
                        {
                            margin-right: 1.5rem;
                            font-size:3rem;
                        }
                    }

                    &-h1
                    {
                        color: rgb(255, 255, 255);
                        margin-bottom: 2rem;
                        font-size: 2.7rem;

                    }
                    &-p
                    {
                        color: white;
                        font-size: 1.5rem;
                        &-date
                        {
                            font-style: italic;
                            font-weight: 600;
                        }
                    }       
                }
                &-right
                {
                    background:url(flower.jpeg);
                    background-size: cover;
                    height:100%;
                    padding:18rem 3rem 2rem 3rem; 
                    background-color: rgba(41, 40, 43, 0.76); // Tint color
                    background-blend-mode: multiply;
                    &-h2
                    {
                        color: #90C8E9;
                        margin-bottom: 2rem;
                        font-size: 2.5rem;
                        font-weight: 400;

                        i
                        {
                            margin-right: 1.5rem;
                            font-size:3rem;
                        }
                    }

                    &-h1
                    {
                        color: rgb(255, 255, 255);
                        margin-bottom: 2rem;
                        font-size: 2.7rem;

                    }
                    &-p
                    {
                        color: white;
                        font-size: 1.5rem;
                        &-date
                        {
                            font-style: italic;
                            font-weight: 600;
                        }
                    }       
                }
            }
        }
    }
    &-our-mission
    {
        margin:9.5rem 33rem;
        background-color: #8DCEE2;
        color: white;
        padding: 2rem 2rem;
        position: relative;
        &-heading
        {
            font-size: 4.5rem;
            text-align: center;
        }
        &-underline
        {
            background-color: white;
            width:13rem;
            height: 1rem;
            margin:1.5rem auto;
        }
        .fa-quote-left
        {
            font-size: 4rem;
            position: absolute;
            top: 10rem;
            left:5rem;
        }
        .fa-quote-right
        {
            font-size: 4rem;
            position: absolute;
            bottom: 10rem;
            right:5rem;
        }
        &-content
        {
            text-align: center;
            font-size: 3rem;
            font-weight: 400;
            transform: skewX(-10deg);
            padding:0 5rem;
            margin:7rem 1rem;
            line-height: 4.5rem;
            
        }
        &-btn
        {
            margin-top: 2rem;

            &-structure
            {
                display: block;
                color: #407F88;
                width: 30rem;
                background-color: rgb(255, 255, 255);
                padding: 2rem 1.8rem;
                font-size: 2rem;
                text-align: center;
                margin:0 auto;
                text-decoration: none;
                &-inner-text
                {
                    font-weight: bold;
                }
            }
        }
    }
    &-carousel
    {
        margin:11rem 25rem;
        
        &-heading
        {
            font-size: 4rem;
            text-align: center;
            color: 	#233758;
        }
        &-underline
        {
            background-color: #D5D5D5;
            width:13rem;
            height: 1rem;
            margin:3rem auto;
        }
        &-container
        {
            padding:1rem 1rem;
            display: flex;
            justify-content: space-between;
            height: 30rem;
            button
            {
                display: flex;
                margin: 0;
                align-items: center;
                color: #A7A7A7;
                width: 4rem;
                border:none;
                background-color: rgb(255, 255, 255);
                font-size: 5rem;
                text-align: center;
                height: 30rem;
                :focus
                {
                    border: none;
                }
            }
            &-objects
            {
                width:90%;
                position: relative;
                margin: 0;
                .object
                {
                    padding:2rem 2rem;
                    position: absolute;
                    background: transparent;
                    top:0;
                    left:0;
                    &-center
                    {

                        &-text
                        {
                            font-size: 4rem;
                            font-weight: 1200;
                            text-align: center;
                            color: #484F52;
                            font-family: 'Times New Roman', Times, serif;
                        }
                        &-logo
                        {
                            text-align: center;
                            margin-top: 10rem;
                            width:50%;
                            margin-left: auto;
                            margin-right: auto;
                            img
                            {
                                clip-path: circle(50%);
                                width: 7.5rem;
                                filter: grayscale(100%);
                            }
                            h1
                            {
                                font-size: 2.5rem;
                                font-weight: 700;
                                margin-top: 1rem;
                            }
                            p
                            {
                                font-size: 1.5rem;
                                margin-top: .7rem;
                                span
                                {
                                    font-style: italic;
                                    font-weight: 600;
                                }
                            }    
                        }   
                    }
                    
                    
                }
            }
        }
    }
}
.footer
{
    padding: 4.5rem 19rem 0 19rem;
    &-navbar
    {
        &-structure 
        {         
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
            &-list
            {
                &:first-child
                {
                    float: left;
                    display: block;
                    color: black;
                    font-size: 2.8rem;
                    font-weight: 900;
                    text-align: center;
                    padding: 1.4rem 1.4rem;
                    margin-top:-0.5rem;
                    cursor: default;
                }
                &:not(first-child)
                {
                    float:right; 
                    display: block;
                    color: black;
                    font-size: 1.6rem;
                    text-align: center;
                    padding: 1.4rem 1.4rem;
                    margin-right: 1rem;
                    margin-top:0.5rem;
                    cursor: default;
                    i  
                    {
                        margin-left:0.8rem;
                        font-size: 1.4rem;
                        margin-bottom:1rem;
                        font-weight: 200;
                    }
                }       
                &-a
                {
                    display: block;
                    color: white;
                    background-color: rgb(38, 47, 170);
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 1.4rem 1.4rem;
                    text-decoration: none;
                    
                    cursor: default;
                } 
                &-a
                {
                    display: block;
                    color: white;
                    background-color: #245FC2;
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 1.5rem 3rem;
                    font-weight: 500;
                    text-decoration: none;
                    margin-top:-1.7rem;
                    margin-right: -3rem;
                    cursor: default;
                } 
            }
        }
    }
    &-copyrights
    {
        margin-top: 5rem;
        margin-bottom:5rem;
        display: inline-block;
        text-align: left;
        font-size: 1.5rem;
        float: left;
    }
    &-credits
    {
        display: inline-block;
        margin-top: 5rem;
        margin-bottom:5rem;
        text-align: right;
        float: right;
        font-size: 1.5rem;
        span
        {
            font-weight: 600;
            border-bottom: solid 1px springgreen;
        }
    }
}            
.fadein
{
    opacity:1;
}    
.fadeout
{
    opacity:0;
}