* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: roboto; }

.header {
  background: url(header-image.jpg);
  background-size: cover;
  background-color: #60707F;
  background-blend-mode: multiply;
  height: 100vh;
  padding: 2.8rem 19rem 0 19rem; }
  .header-navbar-structure {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; }
    .header-navbar-structure-list {
      position: relative;
      overflow: visible;
      height: 40rem; }
      .header-navbar-structure-list:first-child {
        float: left;
        display: block;
        color: white;
        font-size: 2.8rem;
        font-weight: 900;
        text-align: center;
        padding: 1.4rem 1.4rem;
        margin-right: 3rem;
        margin-top: -0.5rem;
        cursor: default; }
      .header-navbar-structure-list:not(first-child) {
        float: right;
        display: block;
        color: white;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.4rem 1.4rem;
        margin-right: 3rem;
        margin-top: 0.5rem;
        cursor: default; }
        .header-navbar-structure-list:not(first-child) i {
          margin-left: 0.8rem;
          font-size: 1.4rem;
          margin-bottom: 1rem;
          font-weight: 200; }
      .header-navbar-structure-list-dropdown-triangle-1 {
        position: absolute;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #FDFDFD;
        border-radius: 0.7rem;
        transform: rotateZ(45deg);
        top: 4.5rem;
        left: 6rem; }
      .header-navbar-structure-list-dropdown-1 {
        background-color: #FDFDFD;
        width: 21rem;
        left: -3rem;
        top: 5.5rem;
        border-radius: 0.7rem;
        position: absolute; }
        .header-navbar-structure-list-dropdown-1-a {
          display: block;
          color: #3A4E61;
          text-align: left;
          font-size: 1.8rem;
          font-weight: 500;
          margin: 0;
          padding: 1.5rem 2rem 1.5rem 2rem;
          text-decoration: none;
          border-bottom: solid 1px #F0F0F0;
          cursor: default; }
          .header-navbar-structure-list-dropdown-1-a:last-child {
            border: none;
            padding-bottom: 2rem; }
          .header-navbar-structure-list-dropdown-1-a:first-child {
            padding-top: 2.3rem; }
      .header-navbar-structure-list-dropdown-triangle-2 {
        position: absolute;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #FDFDFD;
        border-radius: 0.7rem;
        transform: rotateZ(45deg);
        top: 4.5rem;
        left: 6rem; }
      .header-navbar-structure-list-dropdown-2 {
        background-color: #FDFDFD;
        border-radius: 0.7rem;
        left: -3rem;
        top: 5.5rem;
        width: 21rem;
        position: absolute; }
        .header-navbar-structure-list-dropdown-2-a {
          display: block;
          color: #3A4E61;
          text-align: left;
          font-size: 1.8rem;
          font-weight: 500;
          margin: 0;
          padding: 1.5rem 2rem 1.5rem 2rem;
          text-decoration: none;
          border-bottom: solid 1px #F0F0F0;
          cursor: default; }
          .header-navbar-structure-list-dropdown-2-a:last-child {
            border: none;
            padding-bottom: 2rem; }
          .header-navbar-structure-list-dropdown-2-a:first-child {
            padding-top: 2.3rem; }
      .header-navbar-structure-list-a {
        display: block;
        color: white;
        background-color: #245FC2;
        text-align: center;
        font-size: 1.8rem;
        padding: 1.5rem 3rem;
        font-weight: 500;
        text-decoration: none;
        margin-top: -1.7rem;
        margin-right: -3rem;
        cursor: default; }
  .header-textbox {
    margin-top: -24rem; }
    .header-textbox-heading {
      color: white; }
      .header-textbox-heading-secondary {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 3.5rem;
        display: inline-block; }
      .header-textbox-heading-primary {
        font-size: 5.5rem;
        font-weight: 600; }
  .header-btn {
    margin-top: 6rem; }
    .header-btn-structure {
      display: block;
      color: white;
      width: 30rem;
      background-color: #F7735E;
      padding: 2rem 3rem;
      font-size: 2.5rem;
      text-align: left;
      font-weight: bold;
      text-decoration: none; }
      .header-btn-structure-rightarrow {
        margin-left: 10rem; }

.main-stories {
  padding: 0 19rem;
  position: relative; }
  .main-stories-btn {
    z-index: 20;
    position: absolute;
    top: 4rem;
    width: 22rem;
    right: 15rem; }
    .main-stories-btn-structure {
      display: block;
      color: black;
      background-color: white;
      padding: 1rem 0.2rem 1rem 1rem;
      font-size: 2rem;
      text-align: left;
      font-weight: 400;
      text-decoration: none; }
      .main-stories-btn-structure-text {
        font-weight: 700; }
      .main-stories-btn-structure-rightarrow {
        margin-left: 1rem;
        color: blue;
        font-weight: bold; }
  .main-stories-row {
    width: 100%;
    margin-top: -9rem; }
    .main-stories-row-col-1-of-3 {
      display: inline-block;
      width: 31.2%;
      height: 40rem;
      margin-right: 2.8%;
      z-index: 10; }
      .main-stories-row-col-1-of-3:last-child {
        margin-right: 0; }
      .main-stories-row-col-1-of-3-left {
        background: url(flower.jpeg);
        background-size: cover;
        height: 100%;
        padding: 18rem 3rem 2rem 3rem;
        background-color: rgba(41, 40, 43, 0.76);
        background-blend-mode: multiply; }
        .main-stories-row-col-1-of-3-left-h2 {
          color: #90C8E9;
          margin-bottom: 2rem;
          font-size: 2.5rem;
          font-weight: 400; }
          .main-stories-row-col-1-of-3-left-h2 i {
            margin-right: 1.5rem;
            font-size: 3rem; }
        .main-stories-row-col-1-of-3-left-h1 {
          color: white;
          margin-bottom: 2rem;
          font-size: 2.7rem; }
        .main-stories-row-col-1-of-3-left-p {
          color: white;
          font-size: 1.5rem; }
          .main-stories-row-col-1-of-3-left-p-date {
            font-style: italic;
            font-weight: 600; }
      .main-stories-row-col-1-of-3-middle {
        background: url(flower.jpeg);
        background-size: cover;
        height: 100%;
        padding: 18rem 3rem 2rem 3rem;
        background-color: rgba(41, 40, 43, 0.76);
        background-blend-mode: multiply; }
        .main-stories-row-col-1-of-3-middle-h2 {
          color: #90C8E9;
          margin-bottom: 2rem;
          font-size: 2.5rem;
          font-weight: 400; }
          .main-stories-row-col-1-of-3-middle-h2 i {
            margin-right: 1.5rem;
            font-size: 3rem; }
        .main-stories-row-col-1-of-3-middle-h1 {
          color: white;
          margin-bottom: 2rem;
          font-size: 2.7rem; }
        .main-stories-row-col-1-of-3-middle-p {
          color: white;
          font-size: 1.5rem; }
          .main-stories-row-col-1-of-3-middle-p-date {
            font-style: italic;
            font-weight: 600; }
      .main-stories-row-col-1-of-3-right {
        background: url(flower.jpeg);
        background-size: cover;
        height: 100%;
        padding: 18rem 3rem 2rem 3rem;
        background-color: rgba(41, 40, 43, 0.76);
        background-blend-mode: multiply; }
        .main-stories-row-col-1-of-3-right-h2 {
          color: #90C8E9;
          margin-bottom: 2rem;
          font-size: 2.5rem;
          font-weight: 400; }
          .main-stories-row-col-1-of-3-right-h2 i {
            margin-right: 1.5rem;
            font-size: 3rem; }
        .main-stories-row-col-1-of-3-right-h1 {
          color: white;
          margin-bottom: 2rem;
          font-size: 2.7rem; }
        .main-stories-row-col-1-of-3-right-p {
          color: white;
          font-size: 1.5rem; }
          .main-stories-row-col-1-of-3-right-p-date {
            font-style: italic;
            font-weight: 600; }

.main-our-mission {
  margin: 9.5rem 33rem;
  background-color: #8DCEE2;
  color: white;
  padding: 2rem 2rem;
  position: relative; }
  .main-our-mission-heading {
    font-size: 4.5rem;
    text-align: center; }
  .main-our-mission-underline {
    background-color: white;
    width: 13rem;
    height: 1rem;
    margin: 1.5rem auto; }
  .main-our-mission .fa-quote-left {
    font-size: 4rem;
    position: absolute;
    top: 10rem;
    left: 5rem; }
  .main-our-mission .fa-quote-right {
    font-size: 4rem;
    position: absolute;
    bottom: 10rem;
    right: 5rem; }
  .main-our-mission-content {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    transform: skewX(-10deg);
    padding: 0 5rem;
    margin: 7rem 1rem;
    line-height: 4.5rem; }
  .main-our-mission-btn {
    margin-top: 2rem; }
    .main-our-mission-btn-structure {
      display: block;
      color: #407F88;
      width: 30rem;
      background-color: white;
      padding: 2rem 1.8rem;
      font-size: 2rem;
      text-align: center;
      margin: 0 auto;
      text-decoration: none; }
      .main-our-mission-btn-structure-inner-text {
        font-weight: bold; }

.main-carousel {
  margin: 11rem 25rem; }
  .main-carousel-heading {
    font-size: 4rem;
    text-align: center;
    color: #233758; }
  .main-carousel-underline {
    background-color: #D5D5D5;
    width: 13rem;
    height: 1rem;
    margin: 3rem auto; }
  .main-carousel-container {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 30rem; }
    .main-carousel-container button {
      display: flex;
      margin: 0;
      align-items: center;
      color: #A7A7A7;
      width: 4rem;
      border: none;
      background-color: white;
      font-size: 5rem;
      text-align: center;
      height: 30rem; }
      .main-carousel-container button :focus {
        border: none; }
    .main-carousel-container-objects {
      width: 90%;
      position: relative;
      margin: 0; }
      .main-carousel-container-objects .object {
        padding: 2rem 2rem;
        position: absolute;
        background: transparent;
        top: 0;
        left: 0; }
        .main-carousel-container-objects .object-center-text {
          font-size: 4rem;
          font-weight: 1200;
          text-align: center;
          color: #484F52;
          font-family: 'Times New Roman', Times, serif; }
        .main-carousel-container-objects .object-center-logo {
          text-align: center;
          margin-top: 10rem;
          width: 50%;
          margin-left: auto;
          margin-right: auto; }
          .main-carousel-container-objects .object-center-logo img {
            clip-path: circle(50%);
            width: 7.5rem;
            filter: grayscale(100%); }
          .main-carousel-container-objects .object-center-logo h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-top: 1rem; }
          .main-carousel-container-objects .object-center-logo p {
            font-size: 1.5rem;
            margin-top: .7rem; }
            .main-carousel-container-objects .object-center-logo p span {
              font-style: italic;
              font-weight: 600; }

.footer {
  padding: 4.5rem 19rem 0 19rem; }
  .footer-navbar-structure {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; }
    .footer-navbar-structure-list:first-child {
      float: left;
      display: block;
      color: black;
      font-size: 2.8rem;
      font-weight: 900;
      text-align: center;
      padding: 1.4rem 1.4rem;
      margin-top: -0.5rem;
      cursor: default; }
    .footer-navbar-structure-list:not(first-child) {
      float: right;
      display: block;
      color: black;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.4rem 1.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      cursor: default; }
      .footer-navbar-structure-list:not(first-child) i {
        margin-left: 0.8rem;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        font-weight: 200; }
    .footer-navbar-structure-list-a {
      display: block;
      color: white;
      background-color: #262faa;
      text-align: center;
      font-size: 1.6rem;
      padding: 1.4rem 1.4rem;
      text-decoration: none;
      cursor: default; }
    .footer-navbar-structure-list-a {
      display: block;
      color: white;
      background-color: #245FC2;
      text-align: center;
      font-size: 1.8rem;
      padding: 1.5rem 3rem;
      font-weight: 500;
      text-decoration: none;
      margin-top: -1.7rem;
      margin-right: -3rem;
      cursor: default; }
  .footer-copyrights {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    float: left; }
  .footer-credits {
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: right;
    float: right;
    font-size: 1.5rem; }
    .footer-credits span {
      font-weight: 600;
      border-bottom: solid 1px springgreen; }

.fadein {
  opacity: 1; }

.fadeout {
  opacity: 0; }
